Source: osinfo-db-tools
Section: devel
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
Homepage: https://gitlab.com/libosinfo/osinfo-db-tools/-/tags
Vcs-Browser: https://github.com/alvistack/libosinfo-osinfo-db-tools
Vcs-Git: https://github.com/alvistack/libosinfo-osinfo-db-tools.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 autoconf,
 automake,
 gobject-introspection,
 intltool,
 libarchive-dev,
 libglib2.0-dev,
 libjson-glib-dev,
 libsoup2.4-dev,
 libxml2-dev,
 libxslt1-dev,
 meson,

Package: osinfo-db-tools
Architecture: amd64
Replaces: libosinfo-bin (<< 1.0.0~)
Breaks: libosinfo-bin (<< 1.0.0~)
Description: libosinfo database tools
 libosinfo is a GObject based library API for managing information about
 operating systems, hypervisors and the (virtual) hardware devices they
 can support. It provides APIs to match/identify optimal devices for deploying
 an operating system on a hypervisor.
 .
 This package contains the tools for managing the installation, bundling and
 distribution of libosinfo's database files.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
